VIP_BOT_TOKEN=8791071506:AAGZv4Y3GWSMQ5mnj_vH2cT3p0BWEpxOOmk
FREE_BOT_TOKEN=8784721708:AAFBp7_YbzpzeNvg-Y7lam_i8w6FhnJByHw
API_FOOTBALL_KEY=932929ad49d522381384d69aec31fc99
PAYSTACK_LINK=https://paystack.com/pay/YOUR_PAYMENT_LINK_HERE
TESSERACT_CMD=/usr/bin/tesseract
PORT=5000
